
<html lang="PT-BR">
  <head>
    <title>TriniN'z - Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/429825875467304960/fe75c0bde04b1bc27252e7279121ca0d.png?size=2048" />

    <link rel="stylesheet" href="/style.css">
    
  </head>  
  <body>
    <h1>TriniN'z BOTs</h1>
    <p1>Esta página está mantendo a instância online. Criado por zTriniNz#0752 com a livraria Discord.js para o Discord™ e hospedado na Glitch™, online com ajuda de Uptimerobot™.</p1>
  </body>
</html>
